<h1>Adnat</h1>
<h2>Login</h2>
<%= form_tag '/login', method: :post do %>
    
    <%= label_tag "email" %> <br>
    <%= email_field_tag "email", ""%> <br>
    <%= label_tag "password" %> <br>
    <%= password_field_tag "password", "" %> <br>
    <%= submit_tag "submit"%>
    <%= link_to "Forgot your password?", password_reset_path  %>
<% end %>
<%= link_to "Signup", '/signup' %>
