

<h2>Edit Organisation</h2>
<%= form_for @organisation do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>
<%= f.label :hourly_rate %>
<%= f.text_field :hourly_rate %><br>
<%= f.submit "Update Organisation"%>
<% end %>

<%= link_to 'Delete', @organisation, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back',  url_for(:back) %>
