<p id="notice"><%= notice %></p>
<h1>Adnat</h1>
<tr>
<td><% @user = User.find(session[:user_id]) %></td>
<td><%= "Logged in as #{@user.name} "%></td>
<td><%= link_to 'Logout', root_path  %></td>
</tr>
<h3>Organisations</h3>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organisations.each do |organisation| %>
      <tr>
      <td><%= organisation.name %></td>
      <td><%= link_to 'Edit', edit_organisation_path(organisation) %></td>
        <td><%= link_to 'Join', organisation %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organisation', new_organisation_path %>
