<h1>Adnat</h1>
<h2>Sign up</h2>

<%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :email_address %>
    <%= f.text_field :email_address %><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %><br>
    <%= f.submit "Create Account"%>
<% end %>
<%= link_to "Login", '/' %>


