<%= form_with(model: shift) do |form| %>
  <tr>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.label :shift_date_DD_MM_YYYY %>
  <%= form.text_field :shift_date%><br>
  <%= form.label :start_time %>
  <%= form.text_field :start%><br>
  <%= form.label :finish_time %>
  <%= form.text_field :finish %><br>
  <%= form.label :break_length %>
  <%= form.text_field :break_length %><br>
  </tr>
    <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
