<%= form_with(model: shift) do |form| %>
  <tr>
  <%= hidden_field_tag "user_id", @user.id %>
  <%= form.label :shift_date %>
  <%= form.text_field :shift_date %><br>
  <%= form.label :start_time %>
  <%= form.text_field :start%><br>
  <%= form.label :finish_time %>
  <%= form.text_field :finish %><br>
  <%= form.label :break_length %>
  <%= form.text_field :break_length %><br>
  </tr>
    <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
