<p id="notice"><%= notice %></p>



<h3>Shifts</h3>
<div>
<table>
    <tr>
      <th>Employee name</th> 
      <th>Shift date</th> 
      <th>Start time</th> 
      <th>Finish time</th> 
      <th>Break length</th> 
      <th>Hours worked</th> 
      <th>Shift cost</th> 
    </tr>
    <% @shifts.each do |shift| %>
      <tr>
      <td><%= shift.user.name %></td>
      <td><%= shift.start.to_date.strftime('%m/%d/%y') %></td>
      <td><%= shift.start.change(sec:shift.start.sec).strftime('%H:%M') %></td>
      <td><%= shift.finish.change(sec:shift.finish.sec).strftime('%H:%M') %></td>
      <td><%= shift.break_length %></td>
      <td><%= shift.finish.change(sec:shift.start.sec).to_i - shift.start.change(sec:shift.start.sec).to_i - shift.break_length.to_i %><td>
      <td><%= shift.finish.change(sec:shift.start.sec).to_i - shift.start.change(sec:shift.start.sec).to_i - shift.break_length.to_i * current_user.organisation.hourly_rate  %><td>
      <% if current_user.id == shift.user_id %>
        <td><%= link_to 'Edit', edit_shift_path(shift) %></td>
        <td><%= link_to 'Delete', shift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </table>
</div>

<br>

<%= link_to 'New Shift', new_shift_path %>
<%= link_to 'Back', organisation_path(current_user.organisation_id) %>
