<!DOCTYPE html>
<html>
  <head>
    <title>WorkforceCode</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_user %>
    <h1>Adnat</h1>
    <tr>
    <td><% @user = User.find(session[:user_id]) %></td>
    <td><%= "Logged in as #{@user.name} "%></td>
    <td><%= link_to 'Logout', logout_path  %></td> | <td><%= link_to 'Edit Profile', edit_user_path(current_user.id) %></td>
    </tr>
  <% end %>
    <%= yield %>
  </body>
</html>
